@import './style/button/add-button.scss';
@import './style/button/back-button.scss';
@import './style/button/delete-button.scss';

@import './style/color.scss';
@import './style/const.scss';

@import './style/table/column.scss';
@import './style/table/row.scss';

@import './components/header/header.scss';
@import './components//content/content.scss';
@import './components/footer/footer.scss';

@import './components/table/table.scss';
@import './components/pagination/pagination.scss';

@import './components/loader/loader.scss';
@import './components/modal/modal.scss';


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

ul, ol, li {
  list-style: none;
}
