.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  border-collapse: collapse;
  background-color: $background-light;
  width: 100%;
  cursor: pointer;
  &__row {
    border: 1px $color-black solid;
    margin-bottom: 1rem;
  }
  &__item {
    text-align: center;
    padding: 1rem;
  }
}

//880px
@media (max-width: 55em) {
  .container {
    width: 90%;
  }
}

//752px
@media (max-width: 47em) {
  .container {
    width: 92%;
  }
}

//544px
@media (max-width: 34em) {
  .container {
    width: 93%;
  }
}

//400px
@media (max-width: 25em) {
  .container {
    width: 97%;
  }
}
