.wallet-list {
  padding: 0;
  &__item {
    display: flex;
    float: left;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}
