.footer {
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 100%;
    height: $footer-height;
    background-color: $background-footer;
  }

  .row{
    flex-direction: row;
  }

  .name{
    color: $color-white;
  }

  .link{
    margin-left: 1rem;
    color: $color-white;
  }