@import '../color.scss';

.add-button {
    background-color: $background-light;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 100px;
    color: $color-black;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease;
  
    &:hover {
      background-color: $background-footer;
    }
  }