.delete-button {
    justify-content: center;
    background-color: $primary-color;
    width:30%;
    border-radius: 100px;
    padding: 1px 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
  
    &:hover {
      background-color: rgba($primary-color, 0.8);
    }
  }