.delete-button {
    background-color: $primary-color;
    border-radius: 100px;
    padding: 5px 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
  
    &:hover {
      background-color: rgba($primary-color, 0.8);
    }
  }